<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @partner_state.desc %>
</p>

<%= link_to 'Edit', edit_partner_state_path(@partner_state) %> |
<%= link_to 'Back', partner_states_path %>
